/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

body {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  height: 14000px;
}

.rellax {
  position: fixed;
  text-align: left;
}

.footer {
  position: absolute;
  z-index: 10000;
  bottom: 10px;
  left: 10px;
  color: #999999;
  font-size: 12px;
}
.footer .beian-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: -5px 0;
  background-image: url('/img/beian.png');
  zoom: 0.9;
}
.footer a,
.footer a:active,
.footer a:link,
.footer a:visited {
  color: #999999;
  text-decoration: none;
}
.footer a:hover {
  color: #d1bd0a;
}

.rellax.bg {
  position: relative;
  width: 100%;
  min-height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.text-primary { color: #9a7d60; }
.text-seconds { color: #444444; }
.text-default { color: #4c392a; text-shadow: 0 0 1px #e8d4c0;}

.bg-primary { background-color: #9a7d60; }
.bg-default { background-color: #f7f5ec; }
.bg.bg-left { background-color: #f7f5ec; margin-right: 50%; width: 50%; }
.bg.bg-right { background-color: #f7f5ec; margin-left: 50%; width: 50%; }
.bg-title {
  background-color: rgba(232, 212, 192, .3);
}
.bg-hero {
  background-image: url('/img/hero.jpg');
  background-size: cover;
}

.title {
  top: 0;
  line-height: 30px;
  font-size: 1rem;
  letter-spacing: 5px;
  padding: 0 10px;
  opacity: 0.7;
  border-bottom-right-radius: 5px;
}

.nav {
  top: 100px;
  right: 16%;
}

.nav .nav-item {
  overflow: hidden;
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
}

.nav a,
.nav a:visited,
.nav a:active,
.nav a:link {
  display: block;
  color: #f5f5f7;
  background-color: #000000;
  width: 100px;
  height: 30px;
  line-height: 30px;
  padding: 15px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  text-decoration: none;
  transition: background-color .3s;
}
.nav a:hover {
  background-color: #444444;
  text-decoration: none;
}
.nav a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, .3);
  transform: translate(-50%, -50%);
}
.nav a:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width .2s ease-out, padding-top .2s ease-out;
}

.logo {
  height: 200px;
  width: 200px;
  white-space: nowrap;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('/img/logo.png');
  top:  300px; left: 150px;
}

.pnt-name-cn {
  top:  470px; left: 30%; font-size:   5rem; font-weight: 500;
}

.pnt-name-nick {
  top:  490px; left: 60%; font-size: 1.5rem; font-weight: 500;
}

.pnt-name-en {
  top:  580px; left: 30%; font-size:   3rem; font-weight: 500;
}

.pnt-name-title {
  top:  680px; right: 26%; font-size: 1.5rem; font-weight: 500;
}

.pnt-name-bg {
  top:  450px; left: 24%; right: 24%; height: 300px;
}

.pnt-angular {
  top: 1050px; left: 15%; width: 292px; height: 80px;
  background-image: url('/img/points/angular.png');
  background-repeat: no-repeat;
}

.pnt-belgium {
  top: 2400px; left: 31%; width: 140px; height: 152px;
  background-image: url('/img/points/belgium.png');
  background-repeat: no-repeat;
}

.pnt-blog {
  top: 700px; left: 32%; width: 570px; height: 133px;
  background-image: url('/img/points/blog.png');
  background-repeat: no-repeat;
}

.pnt-bilibili {
  top: 6400px; left: 53%; width: 322px; height: 151px;
  background-image: url('/img/points/bilibili.png');
  background-repeat: no-repeat;
}

.pnt-email {
  top: 900px; left: 72%; width: 136px; height: 127px;
  background-image: url('/img/points/email.png');
  background-repeat: no-repeat;
}

.pnt-github {
  top: 500px; left: 18%; width: 155px; height: 240px;
  background-image: url('/img/points/github.png');
  background-repeat: no-repeat;
}

.pnt-introductionreact {
  top: 3000px; left: 86%; width: 154px; height: 210px;
  background-image: url('/img/points/introductionreact.png');
  background-repeat: no-repeat;
}

.pnt-java {
  top: 1300px; left: 8%; width: 59px; height: 110px;
  background-image: url('/img/points/java.png');
  background-repeat: no-repeat;
}

.pnt-javascript {
  top: 800px; left: 44%; width: 246px; height: 246px;
  background-image: url('/img/points/javascript.png');
  background-repeat: no-repeat;
}

.pnt-jsconf2019 {
  top: 4000px; left: 66%; width: 339px; height: 340px;
  background-image: url('/img/points/jsconf2019.png');
  background-repeat: no-repeat;
}

.pnt-knockout {
  top: 2800px; left: 7%; width: 223px; height: 55px;
  background-image: url('/img/points/knockout.png');
  background-repeat: no-repeat;
}

.pnt-linkedin {
  top: 1600px; left: 59%; width: 287px; height: 109px;
  background-image: url('/img/points/linkedin.png');
  background-repeat: no-repeat;
}

.pnt-nextjs {
  top: 3100px; left: 55%; width: 167px; height: 100px;
  background-image: url('/img/points/nextjs.png');
  background-repeat: no-repeat;
}

.pnt-nodejs {
  top: 4100px; left: 3%; width: 256px; height: 156px;
  background-image: url('/img/points/nodejs.png');
  background-repeat: no-repeat;
}

.pnt-perl {
  top: 3900px; left: 74%; width: 152px; height: 73px;
  background-image: url('/img/points/perl.png');
  background-repeat: no-repeat;
}

.pnt-php {
  top: 4200px; left: 78%; width: 243px; height: 128px;
  background-image: url('/img/points/php.png');
  background-repeat: no-repeat;
}

.pnt-proangular {
  top: 3000px; left: 32%; width: 191px; height: 231px;
  background-image: url('/img/points/proangular.png');
  background-repeat: no-repeat;
}

.pnt-react {
  top: 1700px; left: 32%; width: 429px; height: 144px;
  background-image: url('/img/points/react.png');
  background-repeat: no-repeat;
}

.pnt-ruby {
  top: 2800px; left: 71%; width: 237px; height: 79px;
  background-image: url('/img/points/ruby.png');
  background-repeat: no-repeat;
}

.pnt-shiyou {
  top: 1000px; left: 15%; width: 240px; height: 104px;
  background-image: url('/img/points/shiyou.png');
  background-repeat: no-repeat;
}

.pnt-stackoverflow {
  top: 700px; left: 69%; width: 295px; height: 85px;
  background-image: url('/img/points/stackoverflow.png');
  background-repeat: no-repeat;
}

.pnt-steam {
  top: 12000px; left: 6%; width: 71px; height: 71px;
  background-image: url('/img/points/steam.png');
  background-repeat: no-repeat;
}

.pnt-team247 {
  top: 2850px; left: 52%; width: 251px; height: 121px;
  background-image: url('/img/points/team247.png');
  background-repeat: no-repeat;
}

.pnt-thoughtworks {
  top: 1700px; left: 8%; width: 597px; height: 151px;
  background-image: url('/img/points/thoughtworks.png');
  background-repeat: no-repeat;
}

.pnt-tripadvisor {
  top: 700px; left: 10%; width: 100px; height: 100px;
  background-image: url('/img/points/tripadvisor.png');
  background-repeat: no-repeat;
}

.pnt-vue {
  top: 8600px; left: 14%; width: 179px; height: 155px;
  background-image: url('/img/points/vue.png');
  background-repeat: no-repeat;
}

.pnt-xian {
  top:  610px; left: 80%; width: 100px; height: 150px;
  background-image: url('/img/points/xian.png');
  background-repeat: no-repeat;
}

.pnt-zhihu {
  top: 10900px; left: 17%; width: 153px; height: 94px;
  background-image: url('/img/points/zhihu.png');
  background-repeat: no-repeat;
}
